@import "../common/base";

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	padding: 2em;
	background-color: $fg-color;
	border: 1px solid black;
	border-radius: 5px;
}

#input {
	display: inline-flex;
	flex-direction: column;
}

#message {
	padding-top: .5em;
	color: #ff3636;

	&:not(.show) {
		display: none;
	}
}
