@import "../common/base";

$separator-color: #222222;

img {
	user-select: none;
}

body {
	padding-top: calc(2em + 24px);

	&.no-scroll {
		overflow: hidden;
	}
}

header {
	display: flex;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	justify-content: space-between;
	padding: 1em;
	background-color: $fg-color;
	border-bottom: 1px solid $separator-color;
	transition: ease-in-out .5s;

	&.hidden {
		top: -100%;
	}

	ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			cursor: pointer;
			height: 24px;

			&:not(:first-child) {
				margin-left: 2em;
			}

			svg {
				width: 24px;
				height: 24px;
			}
		}
	}
}

main {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
	grid-auto-rows: 1fr;
	grid-gap: 10px;
}

main::before {
	content: '';
	padding-bottom: 100%;
	grid-row: 1 / 1;
	grid-column: 1 / 1;
}

.media:first-child {
	grid-row: 1 / 1;
	grid-column: 1 / 1;
}

.media {
	position: relative;
	cursor: pointer;

	.thumb {
		width: 100%;
		height: 100%;
	}

	.media-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		&.media-type-video, &.media-type-gif {
			display: flex;
			justify-content: center;
			align-items: center;
			background: radial-gradient(circle, rgba(40,40,40,1) 0%, rgba(0,0,0,0) 22%, rgba(0,0,0,0) 100%);
		}

		.media-icon {
			width: 20%;
			height: 20%;
		}

		.media-name {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1em;
			padding: 0.5em;
			background-color: $input-color;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			font-size: 10px;
		}

		&:not(:hover) .media-name {
			display: none;
		}
	}
}

#overlay {
	display: flex;
	position: fixed;
	z-index: 2  ;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	background-color: rgba(28, 28, 28, 0.95);

	&.hidden, &>.hidden {
		display: none !important;
	}

	.icon {
		width: min(20vw, 20vh);
		height: min(20vw, 20vh);
	}

	p {
		padding: 1em;
		background-color: $fg-color;
	}

	#loading-overlay {
		animation: rotation 1s ease-in-out infinite;
	}

	#error-overlay {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#media-overlay {
		width: 100%;
		height: 100%;
		background-color: $bg-color;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		#media-wrapper {
			flex-grow: 1;
			flex-shrink: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;

			#media-close {
				position: absolute;
				top: .5em;
				right: .5em;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 4.5em;
				height: 4.5em;
				border-radius: 50%;
				background: radial-gradient(circle, rgba(40,40,40,0.3) 40%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%);
				cursor: pointer;

				svg {
					width: 60%;
					height: 60%;
				}
			}

			#media-insert {
				position: relative;
				width: 100%;
				height: 100%;

				img, video {
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					object-fit: contain;
					max-width: 100%;
					max-height: 100%;
				}
			}
		}

		#media-controls {
			flex-grow: 0;
			flex-shrink: 0;
			background-color: $fg-color;
			border-top: 2px solid $separator-color;

			.media-meta {
				margin: .5em;
				text-align: center;

				svg {
					width: 1ex;
					height: 1ex;
					transform: scale(2.5);
					margin-right: .75em;
				}
			}

			#media-name {
				overflow: hidden;
				text-overflow: ellipsis;
			}

			#media-actions {
				line-height: 0;
				text-align: center;
				margin-bottom: .5em;

				a {
					display: inline-block;
					line-height: 0;
					background-color: $bg-color;
					border-radius: 5px;
					cursor: pointer;

					svg {
						width: 2em;
						height: 2em;
						margin: .5em;
					}
				}

				#share-notification {
					display: none;
					position: fixed;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					line-height: 1em;
					padding: 1em;
					cursor: pointer;
					border-radius: 10px;
					background-color: $input-color;
					box-shadow: 0 0 10px -2px black;
				}
			}

			nav {
				display: flex;
				border-top: 1px solid $separator-color;

				div {
					width: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;

					&:hover:not(.disabled) {
						background-color: rgba(255, 255, 255, 0.05);
					}

					svg {
						height: 10vh;
					}

					&.disabled svg {
						display: none;
					}
				}
			}
		}
	}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (min-aspect-ratio: 1/1) {
	#overlay #media-overlay {
		flex-direction: row;

		#media-controls {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			border-top: none;
			border-left: 2px solid $separator-color;
			width: 350px;
			max-width: 40vw;

			#media-name {
				margin: 1em .5em 2em .5em;
				font-size: 1.5em;

				@media (min-width: 900px) {
					font-size: 2em;
				}
			}

			#media-actions a svg {
				width: 2.5em;
				height: 2.5em;
			}

			nav div {
				min-height: 60px;
			}
		}
	}
}
