@import "~normalize.css/normalize";

$bg-color: #1c1c1c;
$fg-color: #282828;
$input-color: #333333;
$font-color: #eeeeee;

* {
	font-size: 14px;
	color: $font-color;
	font-family: sans-serif;
}

body {
	background-color: $bg-color;
	margin: 0;
}

form input {
	color: $fg-color;
}
